body {
  padding-top: 80px;
  text-align: center;
  font-family: monaco, monospace;
  background-color:#312F3D;
}

h1 {
  font-size: 30px;
  color: #565656;
}
h2 {
  font-size: 20px;
  color: #483D8C;
}
tr {
  text-align: left;
}